@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700;800;900&family=Open+Sans:wght@300;800&display=swap');

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
}

header {
  background-color: #22252D;
  padding: 0 24px;
  height: 100vh;
  height: calc(var(--vh, 1vh)*100);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #22252D;
  text-align: center;
  color: #33373F;
  padding: 20px;
}

p a {
  font-size: inherit;
  display: inline;
}

a {
  color: #FFFAFB;
  text-decoration: none;
  font-size: 12px;
}

p,
h1,
h2,
h3,
a {
  font-family: 'Nunito Sans', 'Open Sans', Arial, Helvetica, sans-serif;
}

p {
  font-weight: 200;
  font-size: 20px;
  color: #FFFAFB;
  margin-bottom: 12px;
}

.arrow {
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  color: #69EFD2
}

h1 {
  font-size: 44px;
  color: #FFFAFB;
  line-height: 44px;
}

h2,
h3 {
  color: #69EFD2;
  font-weight: 700;
  font-size: 22px;
}

h3 {
  line-height: 38px;
}


.lowercase {
  text-transform: lowercase;
}

.normal-text {
  font-size: 16px;
  margin-top: 8px
}

.sobre,
.contato {
  background-color: #33373F;
  padding: 40px 24px;
}

.sobre h2 {
  text-align: end;
}

.section-header {
  font-size: 38px;
}

.projetos {
  background-color: #22252D;
  padding: 40px 24px;
}

.card-projeto {
  background-color: #33373F;
  padding: 24px 20px;
  border-radius: 10px;
  margin-top: 24px;
}


.card-projeto p {
  margin-bottom: 20px;
}

button {
  border: none;
  background-color: #22252D;
  color: #FFFAFB;
  font-size: 18px;
  font-weight: 800;
  border-radius: 10px;
  padding: 16px;
  flex: 1;
}

button a {
  font-size: 18px;
  font-weight: 800;
}

.button-container {
  display: flex;
  justify-content: stretch;
  gap: 12px;
  margin-top: auto;
}

.contato button {
  display: block;
  width: 80%;
  margin: 12px auto 0 auto;
}

@media screen and (min-width: 425px) {
  body,
  header,
  main,
  footer,
  .sobre,
  .projetos,
  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .responsive-container {
    max-width: 1024px;
  }

  .sobre h2 {
    text-align: start;
  }

  p {
    max-width: 900px;
  }

  .normal-text {
    font-size: 20px;
  }

  .cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }

  .card-projeto {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin-top: 0;
  }

  .contato button {
    max-width: 300px;
  }

  .arrow {
    font-size: 60px;
    margin-top: 120px;
  }
}